<div class="col-md-4">
  <%= link_to "Andice Points", points_path("Andice"), class: "btn btn-primary" %>
</div>
<div class="col-md-4">
  <%= link_to "Calf Creek Points", points_path("Calf Creek"), class: "btn btn-primary" %>
</div>
<div class="col-md-3">
  <%= link_to "Bell Points", points_path("Bell"), class: "btn btn-primary" %>
</div>
