


<main class="container">
  <h2>Welcome to TexArch </h2>
  <div class="content-box center">
    <div class="welcome">

    <div>
      <h4>TexArch is an online tool hosting data supportive to archaeological research, with an emphasis
        on the Texas Archaic period.</h4>
      <%= image_tag("landscape.jpg", class: "welcome-image", alt: "Texas Landscape" ) %>
    </div>

    <div class="author">
      <h4>Sergio Ayala, Coordinator of TexArch</h4>
      <div class="row">
        <div class="col-md-2">
          <%= image_tag("sergio.jpg", class: "welcome-image", alt: "Sergio Ayala") %>
        </div>
        <div class="welcome-text col-md-6">
          <p>Sergio is an archaeologist from the Gault School of
            Archaeological Research. His research focuses on
            lithic analysis and experimental knapping in order to
            conduct research regarding technological behaviors of
            prehistoric people.  Currently, he is working on the
            technological behaviors embedded in the production of the
            Calf Creek Horizon projectile point technologies
            (Andice, Bell and Calf Creek).</p>

        </div>

      </div>
    </div>
  </div>


  </div>



</main>
