


<main class="container">
  <h1>Welcome!</h1>
  <div id="about-image" class="content-box">
  </div><!--content-box-->

  <p>Learn all about Ancdice, Bell and Calf Creek points in the South US.</p>
</main>
