<main>
  <h2>Welcome to TexArch </h2>
  <div class="content-box center">
    <div class="welcome">
      <div class="row">
        <%= react_component('Welcome') %>

        <%= react_component('Author') %>
      </div><!--row-->
    </div>  <!-- welcome-->
  </div> <!-- center -->
</main>
