<main>
  <h2>Welcome to TexArch </h2>
  <div class="content-box center">
    <div class="welcome">
      <div class="row">
        <div class="left-side col-md-8 ">
          <h4>TexArch is an online tool hosting data supportive to archaeological research, with an emphasis
            on the Texas Archaic period.</h4>
            <%= image_tag("landscape.jpg", class: "welcome-image img-rounded", alt: "Texas Landscape" ) %>
            <%= link_to "Learn more...", cch_path, class: "btn btn-primary" %>

        </div>

        <div class="author right-side col-md-4 shadow-element">
          <h4>Sergio Ayala, Coordinator </h4>
          <div class="row">
            <div>
              <%= image_tag("sergio.jpg", class: "welcome-image img-rounded sergio-image", alt: "Sergio Ayala") %>
            </div>
            <div class="welcome-text">
              <p>Sergio is an archaeologist from the Gault School of
                Archaeological Research. His research focuses on
                lithic analysis and experimental knapping in order to
                conduct research regarding technological behaviors of
                prehistoric people.  Currently, he is working on the
                technological behaviors embedded in the production of the
                Calf Creek Horizon projectile point technologies
                (Andice, Bell and Calf Creek).</p>

              </div>

            </div>
        </div>
    </div><!--row-->

    </div>  <!-- welcome-->
  </div> <!-- center -->
</main>
