<h1> <%= @admin.first_name %>, welcome to your dashboard</h1>

<div class="list-group">
  <%= link_to "Add a new Artifact", new_admin_artifact_path,
      class: "list-group-item active" %>
  <%= link_to "Add a new Site", new_admin_site_path,
      class: "list-group-item active" %>
</div>
