<h1> <%= @admin.first_name %>, welcome to your dashboard</h1>
<div class="link">
  <p><%= link_to "Add a new Artifact", new_admin_artifact_path %></p>
  <p><%= link_to "Add a new Site", new_admin_site_path %></p>
</div>
