<h2>All Sites</h2>

<div class="list-group">
  <% if admin_authenticated %>
    <p><%= link_to "Add a new Site", new_admin_site_path,
        class: "list-group-item active" %></p>
  <% end %>

  <% cache cache_key_for(Site, "list") do %>
    <% @sites.each do |site| %>
        <p><%= link_to site.name, site_path(site),
            class: "list-group-item" %></p>
    <% end %>
  <% end %>
</div>
