<%= link_to "Back", cch_path, class: "btn btn-primary" %>
<%= link_to "CCH Information", info_index_path, class: "btn btn-primary" %>

<h2>Calf Creek Horizon Preforms</h2>

<%= image_tag("cch_preforms.jpg", class: "welcome-image img-rounded", id: "preform", alt: "Preforms") %>
