<%= render partial: "shared/site_show" %>

  <%= link_to "Edit", edit_admin_site_path(@site.id), class: "btn btn-primary" %>
  <%= link_to "Delete", admin_site_path(@site.id), method: :delete, class: "btn btn-primary" %>
</div>
